<!DOCTYPE html>

<head>
    <title>marvin</title>
    <link rel="stylesheet" type="text/css" href="/css/homestyle.css">
    <link rel="stylesheet" type="text/css" href="/css/flexboxgrid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Literata:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>
</head>

<body>
    <div id="main" class="row center-xs">
        <div id="section-1" class="row center-xs middle-xs col-xs-12">
            <div id="head" class="col-xs-12">
                <a href="/"><img class="col-xs-8 col-md-3" src="/res/nlp_logo.png"></a>
                <p class="subtitle-main"><span class="ui text medium">MARVIN</span></p>
                <button onclick='location.href="/demo"' class="ui secondary button col-xs-6 col-md-2"
                    style="width: 100%;"><i class="laptop code icon"></i> Demo</button>
                <button onclick='location.href="https://github.com/DavidThe4sian/marvin/tree/sandbox"'
                    class="ui secondary button col-xs-6 col-md-2" style="width: 100%;"><i class="github brand icon"></i>
                    Code</button>
            </div>
        </div>
    </div>
</body>

</html>
